@import "@/styles/colors.scss";

.cardWithImage {
  position: relative;
  height: 100%;
  min-height: 252px;
  .placeholderImage {
    background-color: $color-blue-2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
